@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-header: #007bff;
    --cor-botao: #272727;

    --fonte-primaria: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/* padding: superior direito inferior esquerdo (sentido horário)*/  
.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link{
    color:var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: var(--cor-header);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

/*apresentacao foi uma classe colocada no HTML para demarcarmos a tag pai em que 
o flexbox será utilizado*/
.apresentacao{
    /* margin:10% 15%; */
    padding: 5% 15%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 5.125rem;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
 
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family:var(--fonte-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.apresentacao__links__subtitulo{   
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1,5rem;
}

.apresentacao__links__navegacao{
display: flex;
    justify-content: center;
    gap: 1rem;
    border: 0.125rem solid var(--cor-terciaria);
    color:var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1.34rem 0;
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-botao);
    padding: 3%;

}

.apresentacao_imagem{
    width: 50%;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 100%;
}

@media (max-width: 1300px){
    .cabecalho{
        padding: 10%;
    }
    
    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}